@font-face {
  font-family: 'MyCustomFont';  /* 自定义字体的名称 */
  src: url('https://raw.githubusercontent.com/white-hair-girl/own-picture-bed/refs/heads/main/font/%E8%90%9D%E8%8E%89%E4%BD%93.ttf') format('truetype');  /* 字体文件的URL路径 */
       /* url('https://example.com/fonts/MyCustomFont.woff') format('woff');   字体文件的备选路径 */
  font-weight: normal;  /* 字体粗细 */
  font-style: normal;   /* 字体样式（正常、斜体等） */
  font-display: swap;  /* 提高加载体验 */
}

body {
  /* font-family: 'MyCustomFont', sans-serif !important;  使用本地托管的字体 */
}

#recent-posts .recent-post-items .recent-post-item {
  opacity: .9 !important;
}

#aside-content .card-widget.card-info.text-center {
  /* background: linear-gradient(to right bottom, rgba(51, 204, 187, .9), rgba(153, 238, 221, .9), rgba(51, 221, 153, .9)) !important; */
  background: linear-gradient(to right, rgba(238, 162, 162, .9) 0%, rgba(187, 193, 191, .9) 19%, rgba(87, 198, 225, .9) 42%, rgba(180, 159, 218, .9) 79%, #7ac5d8 100%) !important;
  /* background-image: linear-gradient(to top, rgba(55, 236, 186, .9) 0%, rgb(114, 175, 211, .9) 100%); */
}